<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <title>{block title}alliceshop.cz{/block}</title>
            <link rel="stylesheet" href="{$basePath}/css/all-min.css">
            <link rel="shortcut icon" href="{$basePath}/images/other/favicon.png">
            <link rel="apple-touch-icon" href="{$basePath}/images/other/icon_mobile.png">
            <meta name="apple-mobile-web-app-title" content="alliceshop.cz">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
            {block head}{/block}
    </head>
    <body data-role="page" data-countries="cz,sk,pl,de,at">
            {include content}
            <script src="{$basePath}/js/all-concat.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnaSofgPgiJeEi5TRnSNX7_aAmH2V2hU8&libraries=places&callback=initAutocomplete&language=cz" async defer></script>
    </body>
</html>
