.base
{
    background-color: rgba(0,0,0,0.35);
    font-size: 0;
    
    .section
    {
        .inlineBlock(middle);
        text-align: left;
        width: 100%;
        padding-bottom: 15px;
        
       .headline
       {
           padding-bottom: 10px;
       }
        
       .baseWrap
       {
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: left;
            cursor: pointer;
            
            svg
            {
                .inlineBlock(middle);
                padding-right: 15px;
                
                g
                {
                    .transition();
                    fill: none;
                    stroke: rgba(255,255,255,.5);
                }
            }

            .footer
            {
                .inlineBlock(middle);
                .transition();
            }
        }
        
        a
        {
            text-decoration: none;
        }
        
        .baseWrap:hover
        {
            svg
            {
                g 
                {
                    stroke: white;;
                }
            }

            .footer
            {
                color: white;
            }
        }
    }
    
    .section:first-child
    {
        padding-top: 30px;
    }
    
    .section:nth-child(2)
    {
        a:nth-child(2)
        {   
            svg
            {
                margin-left: -4px;
                padding-right: 10px;
            }
        }
    }
    
    .section:last-child
    {
        display: none;
    }
}

@media(min-width: 780px)
{
    .base
    {
        
        .section
        {
            text-align: left;
            width: 30%;
            .inlineBlock(top);
            padding-right: 5%;
            padding-bottom: 15px;
            padding-top: 30px;
        }
        
        .section:first-child
        {
            display: none;
        }
        
        .section:last-child
        {
            display: inline-block;
            padding-right: 0%;
        }
        
        .divider
        {
            margin-left: 0px;
            margin-right: 0px;
        }
    }   
}