body 
{
    background-image: linear-gradient(to left,rgba(134,134,134,0.23),rgba(107,102,101,1));
    position: relative;
    
    .displayNone
    {
        display: none;
    }
}

body.background
{
    background-position-y: 40%;
    background-image: url(../images/others/club.png);
    background-size: cover;
    background-position: 50% 40%;
    background-attachment: fixed;
}

.blur
{
    .newproduct, .socialsites, .products, .summaryOrder, .form, .base, .ledge
    {
       .blur(10px);
    }
}

.ui-loader
{
    display: none;
}

.divider2
{
    border-top: 1px white solid;
}

.pac-container, .pac-logo
{
    background-color: rgba(0,0,0,.8);
    border-radius: 3px;
    border-top: 0;
    
    .pac-item
    {
        border-top: 1px solid rgba(255,255,255,0.31);
    }
    
    .pac-item:hover, .pac-item-selected
    {
        background-color: black;
        
        .pac-icon-marker
        {
            background-position: 16px -161px;
        }
    }
}

.pac-logo:after
{
    background-image: url(../images/others/powered_by_google_on_non_white.png);
}

.inactive
{
    display: none !important;
}