.buttonGeneral
{
    .inlineBlock(middle);
    background-color: rgba(255,255,255,.08);
    .borderRadius(3px);
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 18px;
    padding-right: 18px;
    .transition();
    text-decoration: none;
    box-sizing: border-box;
    height: 32px;
}

.buttonGeneral:hover
{
    background-color: rgba(255,255,255,.1);
    color: white;
}