.errorMessages
{
    display: none;
    border-top: 1px white solid;
    margin-top: 30px;
    margin-bottom: 0;
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    
    li:before
    {
        .inlineBlock(middle);
        content: "";
        width: 20px;
        height: 17px;
        position: absolute;
        margin-right: 15px;
        background: url("data:image/svg+xml;utf8, <svg width='20' height='20' xmlns='http://www.w3.org/2000/svg'><title>Warning Icon</title><g><title>Error</title><path d='m18.82856,13.02526l-5.69135,-9.48605c-0.74694,-1.24472 -1.88972,-1.95721 -3.1372,-1.95721s-2.39027,0.71249 -3.13721,1.95527l-5.69136,9.488c-0.75666,1.25999 -0.83944,2.60388 -0.22638,3.68693c0.61222,1.08388 1.80804,1.70582 3.27887,1.70582h11.55188c1.4711,0 2.66665,-0.62194 3.27887,-1.70472c0.61333,-1.08304 0.53055,-2.42693 -0.22611,-3.68803l0,0l0,0zm-8.82856,2.07055c-0.82222,0 -1.49222,-0.66889 -1.49222,-1.4911c0,-0.82305 0.66916,-1.49305 1.49222,-1.49305s1.49221,0.66999 1.49221,1.49305c0,0.82222 -0.66999,1.4911 -1.49221,1.4911zm1.57193,-7.14691c-0.01055,0.03 -1.3486,3.33859 -1.3486,3.33859c-0.03667,0.09055 -0.12528,0.15028 -0.2225,0.15028s-0.18583,-0.05973 -0.22222,-0.15028l-1.33916,-3.30943c-0.08667,-0.22445 -0.12417,-0.42667 -0.12417,-0.63083c0,-0.92888 0.75583,-1.68443 1.68471,-1.68443s1.68471,0.75555 1.68471,1.68443c0,0.20416 -0.03778,0.40638 -0.11278,0.60166l0,0z' fill='rgb(210, 26, 26)'></path></g></svg>");
    }
    
    li:first-child
    {
        padding-top: 15px;
    }
    
    li
    {
        .inlineBlock(middle);
        padding-bottom: 15px;
        width: 100%;
        padding-left: 15px;
        box-sizing: border-box;
        
        span
        {
            .inlineBlock(middle);
            box-sizing: border-box;
            width: 100%;
            padding-left: 33px;
        }
    }
}