.form 
{
    background-color: rgba(72,62,62,0.25);
    font-size:0;
    display: none;
    
    .headline
    {
        padding-top: 30px;
        text-align: center;
        padding-bottom: 12px;
        width: 100%;
    }
    
    .divider
    {
        border-top: 1px rgba(255,255,255,0.31) solid;
    }

    .data
    {  
        .placeHolder(rgba(255,255,255,0.65));
        text-align:center;

        input
        {
            background-color: rgba(0,0,0,0.29);
            .borderRadius(3px);
            width: 100%; 
            border: 0;
            margin-top: 30px;
            padding-left: 15px;
            padding-top: 8px;
            padding-bottom: 8px;
            display: inline-block;
            outline: 0;
            box-sizing: border-box;
        }
        
        input:disabled
        {
            background-color: rgba(0,0,0,0.1);
        }
        
        .subForm
        {
            display: none;
        }
        
        .inputs
        {
            .inlineBlock(top);
            width: 100%;
            padding-bottom: 0;
        }
        
        .inputs:first-child
        {
            padding-bottom: 15px;
        }
        
        .inputs:nth-child(2)
        {
            > input:first-child
            {
                margin-top: 15px;
            }
        }
    }
    
    .radioCheck
    {
        margin-top: 30px;
        text-align: left;
        
        > div
        {
            background-color: rgba(255,255,255,0.05);
            padding-top: 8px;
            padding-bottom: 8px;
            .borderRadius(3px);
            padding-left: 15px;
            
            svg
            {
                margin-bottom: 5px;
            }
            
            label
            {
                position: absolute;
                margin-right: 15px;  
            }
            
            .labelText
            {
                .inlineBlock(middle);
                padding-left: 33px;
                .transition();
            }
        }
        
        > div:hover
        {
            .labelText
            {
                color: white;
            }
        }
    }
    
    .payButton
    {
        .borderRadius(3px);
        background-color: rgba(199, 10, 10, .7);
        cursor: pointer;
        .inlineBlock(middle);
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 35px;
        padding-right: 35px;
        .transition();
    }
    
    .buttonWrap
    {
      text-align: center;  
    }
    
    .payButton:hover
    {
        background-color: rgba(199, 10, 10, .9);
        color: white;
    }
}

@media(min-width: 650px)
{
    .form
    {
        .data
        {
            .inputs
            {
                display: table;
                width: 49%;
                .inlineBlock(top);
                margin-right: 2%;

                input[type=text], input[type=email]
                {
                    width: 100%;
                    display: table-cell;
                }
            }
            
            .inputs:first-child
            {
                border-bottom: 0px;
                padding-bottom: 0;
            }
            
            .inputs:nth-child(2)
            {
                > input:first-child
                {
                    margin-top: 30px;
                }
            }
            
            .inputs:last-child
            {
               margin-right:0;
            }
        }
    }
}
