.ledge
{
    background-color: rgba(0,0,0,.8);
    width: 100%;
    position: fixed;
    top: 0;
    .boxShadow(0px, 3px, 3px, 0px, .2);
    
    .logo
    {
        .inlineBlock(middle);
        line-height: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        
        span, img
        {
            .inlineBlock(middle);
        }
        
        img
        {
            margin-right: 5px;
        }
    }
    
    .choosingLang
    {
        text-decoration: none;
        .inlineBlock(baseline);
        .transition();
        margin-left: 10px;
        cursor: pointer;
    }
    
    .choosingLang:hover
    {
        color: white;
    }
    
    .rightWrap
    {
        .inlineBlock(middle);
        right: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .costButton
    {
        .inlineBlock(middle);
        
        > span:first-child
        {
            display: none;
        }
    }
    
    .onlineChat
    {
        background-color: rgba(0,0,0,0);
        padding-right: 5px;
        padding-left: 5px;
        .transition();
        display: none;
        
        svg
        {
            margin-top: -3px;
            
            g
            {
                .transition();
            }
        }
    }
    
    .onlineChat:hover
    {
        background-color: rgba(0,0,0,0);
        
        svg
        {
            g
            {
                stroke: white;
            }
        }
    }
    
    .show
    {
        .inlineBlock(middle);
    }
}

.costButton.focus
{
    background-color: rgba(255,255,255,.07);
    .focusInset(0, 0, 0, 1px);
}