.newproduct
{
    font-size: 0;
    padding-top: 95px;
    
    .box
    {
        background-color: rgba(0,0,0,0.37);
        .boxShadow(0px, 0px, 5px, 0px, .15);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
    
        .title
        {
            padding-top: 25px;
            text-align: center;
        }

        .divider
        {
            border-top: 1px rgba(255,255,255,0.31) solid;
            margin-top: 12px;
        }

        .media
        {
            padding-top: 25px;
            text-align: center;
            position: relative;

        }
        
        .item
        {
            padding-left: 10px;
            padding-right: 10px;
        }

        .nameofproduct
        {
            padding-top: 20px;
            text-align: center;
        }

        .price
        {
            text-align: center;
            padding-top: 20px;
        }

        .buyButton
        {
            .borderRadius(3px);
            background-color: rgba(199, 10, 10, .7);
            cursor: pointer;
            .inlineBlock(middle);
            margin-top: 20px;
            margin-bottom: 25px;
            .transition();
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 35px;
            padding-right: 35px; 

        }

        .buyButton:hover
        {
            background-color: rgba(199, 10, 10, .9);
            color: white;
        }

        .buttonWrap
        {
            text-align: center;
        }
    }
}

@media(min-width: 600px)
{
    .newproduct
    {
        .owl-dots
        {
            width: 25%;
        }
    }
}