.owl-controls
{
    position: absolute;
    bottom: -15px;  
    .absoluteCenter(50%);
    .inlineBlock(middle);
}

.owl-dots
{
    display: table;
    .absoluteCenter(50%);
    
    .active.owl-dot
    {
        cursor: default;
    }
    
    .active.owl-dot
    {
        span
        {
            background-color: rgba(255,255,255,.31);
        }
    }
    
    .owl-dot
    {  
        display: table-cell;
        cursor: pointer;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: rgba(0,0,0,0);
        
        span
        {
            border-right: 1px white solid;
            height: 2px;
            background-color: rgba(0,0,0,0.2);
            display: block;
        }
    }

    .owl-dot:last-child
    {
        span
        {
            border-right: 1px rgba(255, 255, 255, 0) solid;
        }
    }
}

.owl-item
{
    a
    {
        .inlineBlock(top);
        width: 100%;
        box-sizing: border-box;
    }

    img, video
    {
       .inlineBlock(top);
       width: 100%;
       height: auto !important;
    }
}