.popupLangs
{
    font-size: 0;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    max-width: 1010px;
    .absoluteCenter(100%);
    display: none;
    
    .wrapBox
    {
        width: 100%;
        box-sizing: border-box;
        .inlineBlock(top);

        .box
        {
            background-color: rgba(0,0,0,0.40);
            padding-bottom: 15px;

            .closecross
            {
                position: relative;
                padding-bottom: 25px;
                margin-bottom: 45px;
              
                svg
                {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 25px;
                    cursor: pointer;
                    
                    g
                    {
                        .transition();
                    }
                }
            }
            
            svg:hover
            {   
                g 
                {
                    stroke: white;   
                }
            }
           
            .language
            {
                text-align: center;
                .inlineBlock(middle);
                width: 100%;
                padding-top: 15px;
                padding-bottom: 15px;
                cursor: pointer;
                .transition();
                text-decoration: none;
                border-bottom: 1px rgba(255,255,255,.31) solid;
            }
            
            .language:last-child
            {
                border-bottom: 0;
            }
            
            .language:hover
            {
                color: white;
            }
            
        }
    }
}

@media(min-width: 1010px)
{
    .popupLangs
    {
        .wrapBox
        {
            .box
            {
                .borderRadius(3px);
            }
        }
    }
}
            