.popupChat
{
    font-size: 0;
    position: absolute;
    width: 100%;
    display: block;
    top: 0;
    max-width: 1010px;
    .absoluteCenter(100%);
    display: none;
    
    .wrapBox
    {
        width: 100%;
        box-sizing: border-box;
        .inlineBlock(top);

        .box
        {
            background-color: rgba(0,0,0,0.40);
            padding-bottom: 30px;
        
            .topWrap
            {
            
                .endChatButton
                {
                    display: none;
                }
                
                .closecross
                {
                    position: relative;
                    padding-bottom: 25px;
                    margin-bottom: 50px;

                    svg
                    {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 25px;
                        cursor: pointer;
                        .inlineBlock(middle);

                        g
                        {
                            .transition();
                        }
                    }
                } 
            }
            
            .headline
            {
                text-align: center;
                width: 100%;
                padding-bottom: 12px;
            }
            
            .divider
            {
                border-top: 1px rgba(255,255,255,0.31) solid;
            }
            
            input, textarea
            {
                box-sizing: border-box;
                width: 100%;
                .inlineBlock(middle);
                background-color: rgba(0,0,0,.29);
                .borderRadius(3px);
                border: 0;
                padding-left: 15px;
                padding-top: 8px;
                padding-bottom: 8px;
                outline: 0;
            }
            
            input
            {
                margin: 0 auto;
                margin-top: 30px;
            }
            
            textarea
            {
                resize: none;
                padding-right: 90px;
                height: 80px;
                min-height: 35px !important;
            }
            
            .textareaWrap
            {
                text-align: center;
                position: relative;
                .webkitScrollbar();
                margin: 0 auto;
                margin-top: 30px;
            }
            
            .inputWrap
            {
                padding-left: 10px;
                padding-right: 10px;
                
            }
            
            ::-webkit-input-placeholder
            {
                color: rgba(255,255,255,0.70);
            }
            
            .sendButton
            {
                cursor: pointer;
                .inlineBlock(middle);
                .transition();
                position: absolute;
                bottom: 0;
                right: 0;
                width: 70px;
                padding-right: 10px;
                padding-left: 10px;
                padding-top: 8.5px;
                padding-bottom: 8.5px;
            }
            
            .sendButton:hover
            {
                color: white;
            }
            
            svg:hover
            {   
                g 
                {
                    stroke: white;   
                }
            }
            
            .messages
            {
                display: none;
            }
        }
    }
    
    .wrapBox.communication
    {
        .box
        {
            .webkitScrollbar();
            
            .topWrap
            {
                .endChatButton
                {
                    .borderRadius(3px);
                    border: 1px rgba(173,173,173,.5) solid;
                    cursor: pointer;
                    .inlineBlock(middle);
                    .transition();
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-left: 25px;
                    position: absolute;
                    margin-top: 19.5px;
                }

                .endChatButtonWrap
                {
                    text-align: left;
                }

                .endChatButton:hover
                {
                    border: 1px white solid;
                    color: white;
                }

                .closecross
                {
                    position: relative;
                    padding-bottom: 25px;
                    margin-bottom: 50px;

                    svg
                    {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 25px;
                        cursor: pointer;

                        g
                        {
                            .transition();
                        }
                    }
                } 
            }
    
            .headline
            {
                display: none;
            }
            
            input
            {
                display: none;
            }
            
            .messages
            {
                display: block;
                margin: 0 auto;
                margin-top: 30px;
                max-height: 200px;
                overflow: auto;
                
                .message
                {
                    .inlineBlock(top);
                    .borderRadius(6px);
                    border: 1px rgba(255,255,255,.31) solid;
                    background-color: rgba(0,0,0,.2);
                    padding: 10px;
                    position: relative;
                    margin-bottom: 25px;
                    max-width: 80%;

                    .photo, .text, .state
                    {
                        .inlineBlock(top);
                    }
                }
               
                .admin:last-child, .customer:last-child
                {
                    .message
                    {
                        margin-bottom: 0;
                    }
                }
               
                .customer
                {
                    text-align: right;
                    
                    .state
                    {
                        position: absolute;
                        bottom: -13px;
                        right: 0px;
                        .borderRadius(5px);
                        border: 1px rgba(255,255,255,.31) solid;
                        height: 9px;
                        width: 9px;
                    }

                    .state.received
                    {
                        background-color: rgba(255,255,255,.31);
                        height: 10px;
                        width: 10px;
                    }

                    .state.shown
                    {
                        background-image: url("/images/others/logo.png");
                        background-size: 100% 100%;
                        height: 10px;
                        width: 10px;
                    }
                }

                .admin
                {   
                    .photo
                    {
                        background-image: url("/images/others/logo.png");
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        height: 20px;
                        width: 20px;
                        .borderRadius(20px);
                        background-size: 100% 100%;
                    }

                    .text
                    {
                        padding-left: 30px;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }
}

@media(min-width: 650px)
{
    .popupChat
    {
        .wrapBox
        {
            .box
            {
                input, textarea
                {
                    width: 50%;
                    display: block;
                }
                
                textarea
                {
                    width: 100%;
                }
                
                .textareaWrap
                {
                    width: 50%;
                    display: block;
                }
            }
        }
        
        .wrapBox.communication
        {
            .box
            {
                .messages
                {
                    width: 50%;
                    display: block;
                }
            }
        }
    }
}

@media(min-width: 1010px)
{
    .popupChat
    {
        .wrapBox
        {
            .box
            {
                .borderRadius(3px);
            }
        }
    }
}
            