.blackWrap 
{
    width: 100%;
    height: 100%;
    background-color: rgba(84,83,83,0.8);
    position: absolute;
    top: 0;
    display: none;
}

.popupProduct
{
    font-size: 0;
    position: absolute;
    width: 100%;
    display: none;
    top: 0;
    max-width: 1010px;
    .absoluteCenter(100%);
    
    .wrapBox
    {
        width: 100%;
        box-sizing: border-box;
        .inlineBlock(top);

        .box
        {
            background-color: rgba(0,0,0,0.40);

            .closecross
            {
                position: relative;
                padding-bottom: 25px;
              
                svg
                {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 25px;
                    cursor: pointer;
                    
                    g
                    {
                        .transition();
                    }
                }
            }
            
            svg:hover
            {   
                g 
                {
                    stroke: white;   
                }
            }
            
            .head
            {
                text-align: center;
                padding-top: 40px;
                
                a, img
                {
                    .inlineBlock(middle);
                }
                
                .nameofproduct
                {
                    padding-top: 25px;
                }
            }
            
            .divider
            {
                border-top: 1px rgba(255,255,255,.31) solid;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            
            .sizeButtonWrap 
            {
                padding-top: 10px;
                text-align: center;
                padding-bottom: 10px;
                
                .sizeButton
                {
                    .borderRadius(40px);
                    background-color: rgba(173,173,173,.5);
                    .inlineBlock(middle);
                    margin-right: 28px;
                    cursor: pointer;
                    width: 48px;
                    height: 48px;
                    .transition();
                    position: relative;
                    text-align: left;
                    box-sizing: border-box;
                    
                    span
                    {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        display: inline-block;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
            
            .sizeButton:last-child
            {
                margin-right: 0px;
            }
            
            .sizeButton.active
            {
                background-color: #b55e5e;
            }
            
            .sizeButton:hover 
            {
                background-color: #b55e5e;
            }
            
            .quantityButtonWrap
            {
                padding-top: 15px;
                padding-bottom: 15px;
                text-align: center;
                
                svg
                {
                    display: inline-block;
                    cursor: pointer;
                    .inlineBlock(middle);
                    
                    g
                    {
                        .transition();
                    }
                }
                
                .quantity
                {
                    .inlineBlock(middle);
                    padding-right: 30px;
                    padding-left: 30px;
                }
            }
            
            .quantityButton:hover
            {
                svg
                {
                    g
                    {
                        stroke: white;
                    }
                }
            }
                  
            .confirmButton
            {
                .borderRadius(3px);
                background-color: rgba(173,173,173,.5);
                cursor: pointer;
                .inlineBlock(middle);
                margin-top: 30px;
                margin-bottom: 45px;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-left: 30px;
                padding-right: 30px;
                padding: 14px 32px;
                .transition();
            }   
    
            .confirmButtonWrap
            {
                text-align: center;  
            }
            
            .confirmButton:hover
            {
                background-color: rgba(173,173,173,.7);
                color: white;
            }
        }
    }  
}

@media(min-width: 500px)
{
    .popupProduct
    {
        .wrapBox
        {
            .box
            {
                .head
                {
                    img
                    {
                        margin-right: 20px;
                    }

                    .nameofproduct
                    {
                        .inlineBlock(middle);
                        padding-top: 0;
                    }
                }
            }
        }
        
    }
}

@media(min-width: 1010px)
{
    .popupProduct
    {
        .wrapBox
        {
            .box
            {
                .borderRadius(3px);
            }
        }
    }
}


