.products
{
    font-size: 0;
    margin-bottom: 50px;
    
    .wrapBox
    {
        .inlineBlock(top);
        width: 100%;
        box-sizing: border-box;
        margin-top: 50px;
        display:inline-block;
        
        .box
        {
            background-color: rgba(0,0,0,0.35);
            border-radius: 3px;
            .boxShadow(0px, 0px, 5px, 0px, .15);
        }
        
        .media
        {
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 25px;
            position: relative;
            
            img, video
            {
                width: 100%;
            }
        }
        
        .nameofproduct
        {
            text-align: center;
            padding-top: 20px;
        }
        
        .divider
        {
            border-top: 1px rgba(255,255,255,0.31) solid;
            margin-top: 12px;
        }
        
        .price
        {
            text-align: center;
            padding-top: 20px;
        }
        
        .buyButton
        {
            .borderRadius(3px);
            background-color: rgba(199, 10, 10, .7);
            cursor: pointer;
            .inlineBlock(middle);
            margin-top: 20px;
            margin-bottom: 25px;
            .transition();
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 35px;
            padding-right: 35px;
           
        }
        
        .buttonWrap
        {
            text-align: center;
        }
    }
    
    .wrapBox:last-child
    {
        padding-right: 0;
    }
    
    .buyButton:hover
    {
        background-color: rgba(199, 10, 10, .9);
        color: white;
    }    
}

@media(min-width: 400px)
{
    .products
    {
        .wrapBox
        {
            width: 50%;
        }
        
        .wrapBox:nth-child(odd)
        {
            padding-right: 1.5%;
        }
        
        .wrapBox:nth-child(even)
        {
            padding-left: 1.5%;
        }
    }
}

@media(min-width: 900px)
{
    .products
    {
        .wrapBox
        {
            width: 30%;
            box-sizing: content-box;
        }
        
        .wrapBox:nth-child(odd)
        {
            padding-right: 0;
            padding-left: 0;
        }

        .wrapBox:nth-child(even)
        {
            padding-right: 0;
            padding-left: 0;
        }
        
        .wrapBox:nth-child(3n+2) {
            padding-right: 5%;
            padding-left: 5%;
        }
       
    }
}

    

