.socialsites
{
    font-size: 0;
    margin-top: 50px;
    background-color: rgba(0,0,0,0.35);
    width: 100%;
    text-align: center;
    
    .owl-dots
    {
        bottom: 11px;
    }

    .wrapBox
    {
        .inlineBlock(top);
        position: relative;
        width: 100%;
        
        .box
        {
            width: 100%;
            
            .icon
            {
                text-align: center;
                padding-top: 25px;
                padding-bottom: 14px;
                text-decoration: none;
                width: 100%;
                .inlineBlock(top);
                border-bottom: 1px rgba(255,255,255,.31) solid;
                .transition();
                
                g
                {
                    stroke: rgba(255,255,255,.8);
                    fill: none;
                    .transition();
                }
            }

            .divider 
            {
                border-top: 1px rgba(255,255,255,0.31) solid;
                cursor: pointer;
                margin-left: 5px;
                margin-right: 5px;
            }

            .souncloud, .youtube, .media
            {
                padding-right: 10px;
                padding-left: 10px;
                padding-bottom: 25px;
                padding-top: 25px;

                img
                {
                    width: 100%;
                } 

                iframe
                {
                    width:100%;
                }
            }
        }
    }
}

@media(min-width: 600px)
{
    .socialsites
    {
        .owl-dots
        {
            width: 25%;
        }
    }
}