.statementCookie
{
    display: none;
    background-color: rgba(84,83,83,.95);
    width: 100%;
    position: fixed;
    bottom: 0;
    
    a
    {
        .transition();
    }
    
    a:hover
    {
        color: white;
    }
    
    .sentence
    {
        .inlineBlock(middle);
        padding-top: 15.5px;
        padding-bottom: 15.5px;
        line-height: 100%;
        max-width: 65%;
        line-height: 120%;
        
        div
        {
            .inlineBlock(middle);
        }
    }
    
    .buttonGeneral
    {
        .inlineBlock(middle);
        right: 10px;
        top: 6px;
        position: absolute;
        background-color: rgba(255,255,255,.05);
        .borderRadius(3px);
    }
}

@media(min-width: 600px)
{
    .statementCookie
    {
        .sentence
        {
            max-width: none;
            
            div
            {
                .inlineBlock(middle);
            }
        }
    }
}