.summaryOrder
{
    background-color: rgba(0,0,0,0.50);
    display: none;
    
    .title
    {
        padding-top: 30px;
        padding-bottom: 12px;
        text-align: center;
        width: 100%;
    }
    
    .information
    {
       .inlineBlock(top);
        display: inline-block;
        text-align: center;
        width: 100%;
        
        div:nth-child(2) , div:nth-child(3), div:nth-child(4)
        {
            span
            {
                cursor: pointer;
            }
        }
        
        >div
        {
           padding-top: 25px; 
        }
        
        >div:last-child
        {
            padding-top: 10px;
        } 
    }
    
    .information.transport
    {
        > div
        {
            padding-top: 15px;
        }
        
        div
        {
            span
            {
                cursor: default;
            }
        }
    }
  
    .deleteButton
    {
        .inlineBlock(middle);
        width: 100%;
        text-align: center;
        
        .svgWrap
        {
            .inlineBlock(middle);
        }
        
        svg
        {
            cursor: pointer;
            right: 0;
            top: 0;
            padding: 25px;
            
            g
            {
                .transition();
            }
        }
        
        svg:hover
        {
            g
            {
                stroke: white;
            }
        }
    }
    
     .divider
    {
        border-top: 1px rgba(255,255,255,0.31) solid;
    }
    
    .totalprice
    {
        padding-top: 30px;
        text-align: center;
        padding-bottom: 30px;
    }
    
    .finishButton
    {
        .borderRadius(3px);
        background-color: rgba(199, 10, 10, .7);
        cursor: pointer;
        .inlineBlock(middle);
        margin-bottom: 30px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 35px;
        padding-right: 35px;
        .transition();
    }
    
    .buttonWrap
    {
      text-align: center;  
    }
    
    .finishButton:hover
    {
        background-color: rgba(199, 10, 10, .9);
        color: white;
    }
}

@media(min-width: 860px)
{
    .summaryOrder
    {
        .information.transport
        {
            > div
            {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            
            > div:first-child
            {
                padding-top: 10px;
                padding-bottom: 10px;
                width: 70%;
            }
        }
        
        .information
        {
            text-align: left;
            display: table;
          
            > div
            {
                .inlineBlock(middle);
                display: table-cell;
                text-align: center;
                width: 20%;
                padding-top: 0px;
            }

            > div:first-child
            {
                text-align: left;
                width: 10%;
            }
            
            > div:last-child
            {
                text-align: right;
                padding-top: 0px;
                width: 10%;
            }
        }
        
    }
}

    
