<div class="base">
    <div class="inner">
        <div class="section">
            <div class="headline">Kontakt</div>
            <div class="link onlineChat">
                 <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g stroke="rgba(255,255,255,0.50)">
                            <path fill="none" stroke-miterlimit="10" d="M9.781,17.324h9.998c1.692,0,3.064-1.734,3.064-3.873V6.187
                            c0-2.14-1.372-3.874-3.064-3.874H5.221c-1.693,0-3.065,1.734-3.065,3.874v7.265c0,2.139,1.372,3.873,3.065,3.873v4.106l-0.002,1.257
                            L9.781,17.324z"/>
                        </g>
                    </svg>
                    <div class="footer">Online chat</div>
                </div>
            </div>
            <a href="tel:+420 773 612 016">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">	
                        <g stroke="rgba(255,255,255,0.50)">
                            <path stroke-miterlimit="10" d="M20.383,15.811c-0.443-0.55-1.03-0.897-1.692-1.002
                                    c-0.658-0.104-1.328,0.039-1.942,0.422l-1.919,1.191c-0.128-0.086-0.257-0.171-0.383-0.251c-0.178-0.112-0.349-0.222-0.488-0.329
                                    c-1.445-1.12-2.704-2.481-3.85-4.167c-0.551-0.838-0.903-1.525-1.13-2.201c0.493-0.278,0.956-0.575,1.407-0.86
                                    c0.17-0.105,0.341-0.216,0.512-0.322c1.275-0.793,1.475-2.052,0.507-3.203l-1.26-1.494C10.002,3.426,9.854,3.25,9.717,3.078
                                    C9.441,2.739,9.152,2.391,8.849,2.057c-0.448-0.526-1.03-0.861-1.683-0.964C6.513,0.99,5.846,1.127,5.242,1.486L5.229,1.493
                                    l-2.069,1.3c-0.778,0.483-1.282,1.144-1.5,1.967C1.318,6.093,1.579,7.424,1.8,8.303c0.546,2.159,1.543,4.24,3.154,6.553
                                    c1.958,2.79,4.472,5.148,7.475,7.006c1.149,0.698,2.695,1.556,4.512,1.947c0.112,0.021,0.229,0.045,0.336,0.062
                                    c1.234,0.196,2.333-0.023,3.267-0.658c0.007-0.009,0.019-0.011,0.024-0.019c0.324-0.249,0.687-0.462,1.068-0.689
                                    c0.259-0.154,0.526-0.316,0.787-0.488c0.605-0.392,0.971-0.904,1.061-1.473c0.091-0.573-0.104-1.17-0.571-1.718L20.383,15.811z"/>
                        </g>
                    </svg>
                    <div class="footer">+420 773 612 016</div>
                </div>
            </a>
             <a href="mailto:alicekrsikova@gmail.com">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 23" enable-background="new 0 0 25 23" xml:space="preserve">	
                        <g stroke="rgba(255,255,255,0.50)">
                            <path stroke-miterlimit="10" d="M22.292,20.326H3.316c-1.005,0-1.824-0.84-1.824-1.881V5.623
                                    c0-0.646,0.32-1.22,0.805-1.558c0.292-0.204,0.643-0.322,1.019-0.322h18.976c0.376,0,0.728,0.119,1.019,0.322
                                    c0.485,0.338,0.805,0.912,0.805,1.558v12.822C24.115,19.486,23.296,20.326,22.292,20.326L22.292,20.326z"/>
                            <path stroke-miterlimit="10" d="M23.311,4.065"/>
                            <line stroke-miterlimit="10" x1="2.197" y1="4.195" x2="10.871" y2="12.859"/>
                            <line stroke-miterlimit="10" x1="14.768" y1="12.859" x2="23.311" y2="4.195"/>
                            <path stroke-miterlimit="10" d="M10.54,12.527c1.906,2.118,3.76,0.805,4.554,0"/>
                        </g>
                    </svg>
                    <div class="footer">alicekrsikova@gmail.com</div>
                </div>
            </a>
        </div>
        <div class="section">
            <div class="headline">Sociální sítě</div>
            <a href="http://www.gethype.eadmin.cz" target="_blank">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="34px" height="25px" viewBox="0 0 34 25" enable-background="new 0 0 34 25" xml:space="preserve">
                        <g>
                            <path fill="none" stroke-miterlimit="10" d="M7.432,0.652c2.984,0,5.398,2.418,5.398,5.401
                                   c0,2.979-2.414,5.398-5.398,5.398c-2.985,0-5.401-2.416-5.401-5.398C2.031,3.07,4.447,0.652,7.432,0.652z"></path>
                            <path fill="none" stroke-miterlimit="10" d="M28.392,5.523c2.084,0,3.777,1.7,3.777,3.782
                                   c0,2.085-1.693,3.774-3.777,3.774c-2.091,0-3.778-1.69-3.778-3.774C24.613,7.223,26.301,5.523,28.392,5.523z"></path>
                            <path fill="none" stroke-miterlimit="10" d="M15.649,24.463c-2.232,0-4.04-1.808-4.04-4.039
                                   c-0.002-2.232,1.808-4.04,4.04-4.04c2.234,0,4.038,1.808,4.038,4.04C19.687,22.655,17.883,24.463,15.649,24.463"></path>
                            <line fill="none" stroke-miterlimit="10" x1="9.907" y1="11.023" x2="13.34" y2="17.109"></line>
                            <line fill="none" stroke-miterlimit="10" x1="13.102" y1="7.373" x2="24.177" y2="8.687"></line>
                            <line fill="none" stroke-miterlimit="10" x1="25.575" y1="11.967" x2="18.643" y2="18.043"></line>
                        </g>
                    </svg>
                    <div class="footer">Gethype</div>
                </div>
            </a>
            <a href="https://www.youtube.com/channel/UCow_iltos006Ce4VQHv25-A/videos" target="_blank">
                <div class="baseWrap">
                   <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 21" enable-background="new 0 0 25 21" xml:space="preserve">
                        <g>
                            <path stroke-miterlimit="10" d="M19.729,0.5H5.274C2.64,0.5,0.5,2.936,0.5,5.93v9.14
                                    c0,2.995,2.14,5.431,4.774,5.431h14.456c2.631,0,4.771-2.436,4.771-5.431V5.93C24.5,2.936,22.36,0.5,19.729,0.5L19.729,0.5z
                                    M23.522,15.069"></path>
                            <path stroke-miterlimit="10" d="M16.84,10.298l-6.786-4.509C9.903,5.688,9.715,5.688,9.562,5.787
                                    C9.412,5.888,9.315,6.071,9.315,6.27v9.017c0,0.198,0.097,0.384,0.247,0.483c0.077,0.048,0.16,0.072,0.244,0.072
                                    c0.086,0,0.172-0.027,0.249-0.078l6.786-4.506c0.15-0.101,0.243-0.281,0.243-0.479C17.083,10.582,16.99,10.398,16.84,10.298
                                    L16.84,10.298z"></path>
                        </g>
                   </svg>
                    <div class="footer">Youtube</div>
                </div>
            </a>
            <a href="https://www.facebook.com/AlytzeIceQueen/?fref=ts" target="_blank">
                <div class="baseWrap">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g>
                            <path stroke-miterlimit="10" d="M16.232,24.5H20.5c2.104,0,4-1.898,4-4v-16c0-2.102-1.896-4-4-4 h-16c-2.103,0-4,1.898-4,4v16c0,2.102,1.897,4,4,4h8"/>
                            <path stroke-miterlimit="10" d="M12.667,24.5v-9.066H9.732v-3.999h2.935v-1.56 c0-2.688,2.019-5.108,4.5-5.108h3.232v4h-3.232c-0.354,0-0.768,0.429-0.768,1.073v1.595h4v3.999h-4V24.5"/>
                        </g>
                    </svg>
                    <div class="footer">Facebook</div>
                </div>
            </a>
            <a href="https://soundcloud.com/alytze" target="_blank">
                <div class="baseWrap">
                     <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g>
                            <path stroke-miterlimit="10" d="M18.373,24.5H6.628c-3.377,0-6.128-2.75-6.128-6.131V6.628
                            C0.5,3.248,3.251,0.5,6.628,0.5h11.745c3.377,0,6.127,2.748,6.127,6.128v11.741C24.5,21.75,21.75,24.5,18.373,24.5L18.373,24.5z" />
                            <path stroke-miterlimit="10" d="M18.709,11.035c-0.074,0-0.146,0.003-0.218,0.013
                            c-0.611-2.352-2.293-3.976-4.251-3.976c-1.511,0-2.89,0.977-3.719,2.596c-0.253-0.077-0.514-0.115-0.777-0.115
                            c-1.045,0-2.032,0.612-2.699,1.639c-0.241-0.105-0.495-0.158-0.755-0.158c-1.33,0-2.414,1.42-2.414,3.164
                            c0,1.746,1.083,3.166,2.414,3.166h12.418c1.332,0,2.414-1.42,2.414-3.166C21.123,12.455,20.041,11.035,18.709,11.035
                            L18.709,11.035z"/>
                        </g>
                    </svg>
                    <div class="footer">Soundcloud</div>
                </div>
            </a>
            <a href="https://www.instagram.com/allice.fashion/" target="_blank">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g>
                            <path stroke-miterlimit="10" d="M18.373,24.5H6.628c-3.377,0-6.128-2.75-6.128-6.131V6.628
                                    C0.5,3.248,3.251,0.5,6.628,0.5h11.745c3.377,0,6.127,2.748,6.127,6.128v11.741C24.5,21.75,21.75,24.5,18.373,24.5L18.373,24.5z"></path>
                            <path stroke-miterlimit="10" d="M12.498,17.849c-2.946,0-5.347-2.4-5.347-5.35
                                    c0-2.947,2.4-5.347,5.347-5.347c2.95,0,5.351,2.396,5.351,5.347C17.849,15.448,15.448,17.849,12.498,17.849L12.498,17.849z
                                     M12.498,8.521"></path>
                           <ellipse stroke-miterlimit="10" cx="19.241" cy="5.4" rx="1.208" ry="1.2"></ellipse>
                        </g>
                    </svg>
                    <div class="footer">Instagram</div>
                </div>
            </a>
        </div>
        <div class="section">
            <div class="headline">Dokumenty</div>
            <a href="data/conditions.pdf" target="_blank">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g stroke="rgba(255,255,255,0.50)">
                            <path stroke-miterlimit="10" d="M19.86,23.705H5.14c-0.928,0-1.683-0.752-1.683-1.682V2.977
                                    c0-0.927,0.755-1.683,1.683-1.683h10.69c0.183,0,5.713,5.673,5.713,5.86v14.871C21.543,22.953,20.787,23.705,19.86,23.705
                                    L19.86,23.705z M19.86,23.705"/>
                            <path stroke-miterlimit="10" d="M21.204,7.175l-0.428-0.002c0,0-3.463,0-4.032,0
                            c-0.57,0-1.061,0.122-1.005-1.344c0.055-1.467,0-4.114,0-4.114"/>
                        </g>
                    </svg>
                    <div class="footer">Obchodní podmínky</div>
                </div>
            </a>
            <a href="data/conditions.pdf" target="_blank">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g stroke="rgba(255,255,255,0.50)">
                            <path stroke-miterlimit="10" d="M19.86,23.705H5.14c-0.928,0-1.683-0.752-1.683-1.682V2.977
                                    c0-0.927,0.755-1.683,1.683-1.683h10.69c0.183,0,5.713,5.673,5.713,5.86v14.871C21.543,22.953,20.787,23.705,19.86,23.705
                                    L19.86,23.705z M19.86,23.705"/>
                            <path stroke-miterlimit="10" d="M21.204,7.175l-0.428-0.002c0,0-3.463,0-4.032,0
                            c-0.57,0-1.061,0.122-1.005-1.344c0.055-1.467,0-4.114,0-4.114"/>
                        </g>
                    </svg>
                    <div class="footer">Reklamační řád</div>
                </div>
            </a>
            <a href="data/conditions.pdf" target="_blank">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g stroke="rgba(255,255,255,0.50)">
                            <path stroke-miterlimit="10" d="M19.86,23.705H5.14c-0.928,0-1.683-0.752-1.683-1.682V2.977
                                    c0-0.927,0.755-1.683,1.683-1.683h10.69c0.183,0,5.713,5.673,5.713,5.86v14.871C21.543,22.953,20.787,23.705,19.86,23.705
                                    L19.86,23.705z M19.86,23.705"/>
                            <path stroke-miterlimit="10" d="M21.204,7.175l-0.428-0.002c0,0-3.463,0-4.032,0
                            c-0.57,0-1.061,0.122-1.005-1.344c0.055-1.467,0-4.114,0-4.114"/>
                        </g>
                    </svg>
                    <div class="footer">Tabulka velikostí</div>
                </div>
            </a>    
        </div>
        <div class="section">
            <div class="headline">Kontakt</div>
            <div class="link onlineChat">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                        <g stroke="rgba(255,255,255,0.50)">
                            <path fill="none" stroke-miterlimit="10" d="M11.839,17.132h8.172c1.745,0,3.161-1.796,3.161-4.012V5.596
                            c0-2.217-1.416-4.013-3.161-4.013H4.99c-1.747,0-3.162,1.796-3.162,4.013v7.525c0,2.216,1.415,4.012,3.162,4.012v4.254l-0.002,1.301
                            L11.839,17.132z"/>
                        </g>
                    </svg>
                    <div class="footer">Online chat</div>
                </div>
            </div>
            <a href="tel:+420 773 612 016">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">	
                        <g stroke="rgba(255,255,255,0.50)">
                            <path stroke-miterlimit="10" d="M20.383,15.811c-0.443-0.55-1.03-0.897-1.692-1.002
                                    c-0.658-0.104-1.328,0.039-1.942,0.422l-1.919,1.191c-0.128-0.086-0.257-0.171-0.383-0.251c-0.178-0.112-0.349-0.222-0.488-0.329
                                    c-1.445-1.12-2.704-2.481-3.85-4.167c-0.551-0.838-0.903-1.525-1.13-2.201c0.493-0.278,0.956-0.575,1.407-0.86
                                    c0.17-0.105,0.341-0.216,0.512-0.322c1.275-0.793,1.475-2.052,0.507-3.203l-1.26-1.494C10.002,3.426,9.854,3.25,9.717,3.078
                                    C9.441,2.739,9.152,2.391,8.849,2.057c-0.448-0.526-1.03-0.861-1.683-0.964C6.513,0.99,5.846,1.127,5.242,1.486L5.229,1.493
                                    l-2.069,1.3c-0.778,0.483-1.282,1.144-1.5,1.967C1.318,6.093,1.579,7.424,1.8,8.303c0.546,2.159,1.543,4.24,3.154,6.553
                                    c1.958,2.79,4.472,5.148,7.475,7.006c1.149,0.698,2.695,1.556,4.512,1.947c0.112,0.021,0.229,0.045,0.336,0.062
                                    c1.234,0.196,2.333-0.023,3.267-0.658c0.007-0.009,0.019-0.011,0.024-0.019c0.324-0.249,0.687-0.462,1.068-0.689
                                    c0.259-0.154,0.526-0.316,0.787-0.488c0.605-0.392,0.971-0.904,1.061-1.473c0.091-0.573-0.104-1.17-0.571-1.718L20.383,15.811z"/>
                        </g>
                    </svg>
                    <div class="footer">+420 773 612 016</div>
                </div>
            </a>
            <a href="mailto:alicekrsikova@gmail.com">
                <div class="baseWrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 23" enable-background="new 0 0 25 23" xml:space="preserve">	
                        <g stroke="rgba(255,255,255,0.50)">
                            <path stroke-miterlimit="10" d="M22.292,20.326H3.316c-1.005,0-1.824-0.84-1.824-1.881V5.623
                                    c0-0.646,0.32-1.22,0.805-1.558c0.292-0.204,0.643-0.322,1.019-0.322h18.976c0.376,0,0.728,0.119,1.019,0.322
                                    c0.485,0.338,0.805,0.912,0.805,1.558v12.822C24.115,19.486,23.296,20.326,22.292,20.326L22.292,20.326z"/>
                            <path stroke-miterlimit="10" d="M23.311,4.065"/>
                            <line stroke-miterlimit="10" x1="2.197" y1="4.195" x2="10.871" y2="12.859"/>
                            <line stroke-miterlimit="10" x1="14.768" y1="12.859" x2="23.311" y2="4.195"/>
                            <path stroke-miterlimit="10" d="M10.54,12.527c1.906,2.118,3.76,0.805,4.554,0"/>
                        </g>
                    </svg>
                    <div class="footer">alicekrsikova@gmail.com</div>
                </div>
            </a>
        </div>
    </div>
</div>