<div id="form" class="form">
    <div class="inner">
        <div class="headline">Fakturační údaje</div>
        <div class="divider"></div>
        <div class="data">
            <div class="inputs">
                <input type="text" spellcheck="false" placeholder="Jméno a příjmení">
                <input type="email" spellcheck="false" placeholder="Email">
                <input type="text" spellcheck="false" placeholder="Telefonní číslo">
                <div class="radioCheck">
                    <div id="company" tabindex="0">
                        <input name="gendre" id="companyOption" class="check" type="checkbox" data-check="false">
                        <label for="companyOption"></label>
                        <span class="labelText">Firemní údaje</span>
                    </div>
                </div>
                <div id="companySubForm" class="subForm">
                    <input type="text" spellcheck="false" placeholder="Název firmy">
                    <input type="text" spellcheck="false" placeholder="IČ">
                    <input type="text" spellcheck="false" placeholder="DIČ">
                </div>
            </div>
            <div class="inputs">
                <input id="autocomplete_1" type="text" spellcheck="false" placeholder="Ulice a číslo popisné">
                <input id="locality_1" type="text" spellcheck="false" placeholder="Město a PSČ" disabled>
                <input id="country_1" type="text" spellcheck="false" placeholder="Stát" value="Česko" data-sentence="Zvolili jste jinou zemi než je Česko, proto objedávku doručíme až do ### pracovních dní službou PPL. Cena doručení je $$$ Kč." data-countries="Česko,Slovensko,Polsko,Německo,Rakousko" data-prices="100,301,302,303,304" data-days="2,4,4,4,4" disabled>
                <div class="radioCheck">
                    <div id="otherAddress" tabindex="0">
                        <input name="gendre" id="otherAddressOption" class="check" type="checkbox" data-check="false">
                        <label for="otherAddressOption"></label>
                        <span class="labelText">Doručit na jinou adresu než je fakturační</span>
                    </div>
                </div>
                <div id="otherAddressSubForm" class="subForm">
                    <input id="autocomplete_2" type="text" spellcheck="false" placeholder="Ulice a číslo popisné">
                    <input id="locality_2" type="text" spellcheck="false" placeholder="Město a PSČ" disabled>
                    <input id="country_2" type="text" spellcheck="false" placeholder="Stát" value="Česko" disabled>
                </div>
            </div>
        </div>
        <div class="buttonWrap">
            <div class="radioCheck">
<!--                        <div id="conditions" class="conditions" tabindex="0">
                    <input name="gendre" id="conditionsOption" class="check" type="checkbox" data-check="false">
                    <label for="conditionsOption"></label>
                    <div class="labelText">Souhlasím s obchodními podmínkami uvedenými níže.</div>
                </div>-->
            </div>
            <ul class="errorMessages">
                <li>
                    <span>Nedostatek finančních prostředků na Vaší kartě</span>
                </li>
            </ul>
            <div class="divider2"></div>
            <div class="payButton">
                Zaplatit kartou
            </div>
        </div>
    </div>
</div>