<div class="ledge">
    <div class="inner">
        <div id="logo" class="logo">
            <img src="images/others/logo.png">
            <span>ALL ICE SHOP</span>
        </div>
        <div id="choosingLang" class="choosingLang">CZ</div>
        <div class="rightWrap">
            <div id="onlineChatLedge" class="buttonGeneral onlineChat">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                    <g stroke="rgba(255,255,255,0.50)">
                        <path fill="none" stroke-miterlimit="10" d="M9.781,17.324h9.998c1.692,0,3.064-1.734,3.064-3.873V6.187
                        c0-2.14-1.372-3.874-3.064-3.874H5.221c-1.693,0-3.065,1.734-3.065,3.874v7.265c0,2.139,1.372,3.873,3.065,3.873v4.106l-0.002,1.257
                        L9.781,17.324z"/>
                    </g>
                </svg>
            </div>
            <a href="#summaryOrder" id="costButton" class="costButton buttonGeneral">
                <span>
                    <span id="totalquantity">0</span>
                    <span>ks za</span>
                </span>
                <span id="totalpriceButton">0</span>
                <span>Kč</span>
            </a>
        </div>
    </div>
</div>
<div class="blackWrap"></div>