<div class="newproduct">
    <div class="inner">
        <div class="box">
            <div class="title">
                Novinka
            </div>     
            <div class="divider"></div>
            <div class="media">
                <div id="owlCarousel1" class="owl-carousel">
                    <div class="item">
                        <a href="videos/promo_video.mp4" data-lightbox="newProduct">
                            <video autoplay muted loop>
                                <source class="owl-lazy" data-src="videos/promo_video.mp4" src="" type="video/mp4">
                            </video>
                        </a>
                    </div>
                    <div class="item">
                        <a href="images/products/whiteshirt-men.png" data-img="profile" data-lightbox="newProduct">
                            <img class="owl-lazy" data-no-retina data-src="images/products/whiteshirt-men_med.png" data-src-retina="images/products/whiteshirt-men_med@2x.png">
                        </a> 
                    </div>
                    <div class="item">
                        <a href="images/products/shirt-both.png" data-lightbox="newProduct">
                            <img class="owl-lazy" data-no-retina data-src="images/products/shirt-both_med.png" data-src-retina="images/products/shirt-both_med@2x.png">
                        </a>
                    </div>
                    <div class="item">
                        <a href="images/products/shirt-both.png" data-lightbox="newProduct">
                            <img class="owl-lazy" data-no-retina data-src="images/products/shirt-both_med.png" data-src-retina="images/products/shirt-both_med@2x.png">
                        </a>
                    </div>
                </div>
            </div>
            <div id="12" class="nameofproduct" data-category="S,M,L" data-limit-count="15,13,11" data-limit-days="4,4,4" data-limit-final="0,0,1">
                Triko ALL ICE Prague fashion
            </div>
            <div class="divider"></div>
            <div class="price">
                <span class="value">500.55</span>
                <span> Kč</span>
            </div>
            <div class="buttonWrap">
                <div class="buyButton">
                        Koupit
                </div>
            </div>
        </div>
    </div>
</div>