<div id="popupProduct" class="popupProduct">
    <div class="wrapBox inner">
        <div class="box">
            <div class="closecross">
                <svg height="25px" id="closecross" version="1.1" viewbox="0 0 25 25" width="25px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                    <g fill="none" stroke="rgba(255,255,255,0.50)">
                        <line stroke-miterlimit="10" stroke-width="1.3" x1="0.81" x2="24.19" y1="0.746" y2="24.254"></line>
                        <line stroke-miterlimit="10" stroke-width="1.3" x1="24.19" x2="0.81" y1="0.746" y2="24.254"></line>
                    </g>
                </svg>
            </div>
            <div class="head">
                <a href="" data-lightbox="">
                    <img src="">
                </a>
                <div class="nameofproduct" data-id="" data-sizeold="" data-price="">

                </div>
            </div>
            <div class="divider"></div>
            <div class="sizeButtonWrap">
                <div class="sizeButton active">
                    <span>S</span>
                </div>
                <div class="sizeButton">
                    <span>M</span>
                </div>
                <div class="sizeButton">
                    <span>L</span>
                </div>
            </div>
            <div class="divider"></div>
            <div class="quantityButtonWrap">
                <svg height="36px" id="minusButton" version="1.1" viewbox="0 0 36 36" width="36px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                    <g fill="none" stroke="#bfbfbf">
                        <line stroke-miterlimit="10" x1="8.965" x2="27.035" y1="17.945" y2="17.945"></line>
                        <path d="M2.367,0.653c1.675,0,29.946,0,29.946,0h0.767 c0,0,2.036,0,2.036,3.533v27.018c0,0,0.064,4.055-1.475,4.088c-1.029,0.123-29.947,0-29.947,0H2.93c0,0-2.04-0.004-2.04-3.535 V4.745C0.891,4.745,0.692,0.653,2.367,0.653z" stroke-miterlimit="10"></path>
                    </g>
                </svg>
                <div class="quantity" id="quantity" data-limit-count="" data-limit-days="" data-limit-final="" data-limit-final-sentence="Objednat můžete maximálně ### ks tohoto produktu." data-limit-count-sentence="Ihned k odběru je maximálně ### ks tohoto produktu, proto objednávku doručíme až do $$$ pracovních dní.">

                </div>
                <svg height="36px" id="plusButton" version="1.1" viewbox="0 0 36 36" width="36px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                    <g fill="none" stroke="#bfbfbf">
                        <line stroke-miterlimit="10" x1="8.965" x2="27.035" y1="17.945" y2="17.945"></line>
                        <path d="M2.367,0.653c1.675,0,29.946,0,29.946,0h0.767 c0,0,2.036,0,2.036,3.533v27.018c0,0,0.064,4.055-1.475,4.088c-1.029,0.123-29.947,0-29.947,0H2.93c0,0-2.04-0.004-2.04-3.535 V4.745C0.891,4.745,0.692,0.653,2.367,0.653z" stroke-miterlimit="10"></path>
                        <line stroke-miterlimit="10" x1="8.965" x2="27.035" y1="17.945" y2="17.945"></line>
                        <line stroke-miterlimit="10" x1="18" x2="18" y1="26.98" y2="8.91"></line>
                    </g>
                </svg>
            </div>
            <div class="divider"></div>
            <div class="confirmButtonWrap">
                <div class="confirmButton">Potvrdit</div>
            </div>
        </div>
    </div>
</div>