<div id="popupChat" class="popupChat">
    <div class="wrapBox inner communication">
        <div class="box">
            <div class="topWrap">
                <div class="endChatButtonWrap">
                    <div id="endChatButton" class="endChatButton">Ukončit</div>
                </div>
                <div class="closecross">
                    <svg height="25px" id="closecross" version="1.1" viewbox="0 0 25 25" width="25px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                        <g fill="none" stroke="rgba(255,255,255,0.50)">
                            <line stroke-miterlimit="10" stroke-width="1.3" x1="0.81" x2="24.19" y1="0.746" y2="24.254"></line>
                            <line stroke-miterlimit="10" stroke-width="1.3" x1="24.19" x2="0.81" y1="0.746" y2="24.254"></line>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="headline">S čím Vám můžeme pomoci?</div>
            <div class="divider"></div>
            <div class="inputWrap">
                <div id="messages" class="messages">
                    <div class="customer">
                        <div class="message">
                            <div class="text">
                                Ahoj jake tricko si mam koupit?
                            </div>
                        </div>
                    </div>
                    <div class="admin">
                        <div class="message">
                            <div class="photo"></div>
                            <div class="text">
                                Ahoj jake chces. Ahoj jake chces. Ahoj jake chces. Ahoj jake chces. Ahoj jake chces. Ahoj jake chces.
                            </div>
                        </div>
                    </div>
                    <div class="customer">
                        <div class="message">
                            <div class="text">
                                Ahoj jake tricko si mam koupit?
                            </div>
                            <div class="state shown"></div>
                        </div>
                    </div>
                    <div class="admin">
                        <div class="message">
                            <div class="photo"></div>
                            <div class="text">
                                Ahoj jake chces. Ahoj jake chces. Ahoj jake chces. Ahoj jake chces. Ahoj jake chces. Ahoj jake chces.
                            </div>
                        </div>
                    </div>
                </div>
                <input type="email" spellcheck="false" placeholder="Váš email">
                <div class="textareaWrap">
                    <textarea id="textareaChat" spellcheck="false" placeholder="Vaše zpráva"></textarea>
                    <div class="sendButton">Odeslat</div>
                </div>
            </div>
        </div>
    </div>
</div>