<div id="popupLangs" class="popupLangs">
    <div class="wrapBox inner">
        <div class="box">
            <div class="closecross">
                <svg height="25px" id="closecross" version="1.1" viewbox="0 0 25 25" width="25px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                    <g fill="none" stroke="rgba(255,255,255,0.50)">
                        <line stroke-miterlimit="10" stroke-width="1.3" x1="0.81" x2="24.19" y1="0.746" y2="24.254"></line>
                        <line stroke-miterlimit="10" stroke-width="1.3" x1="24.19" x2="0.81" y1="0.746" y2="24.254"></line>
                    </g>
                </svg>
            </div>
            <a class="language" href="/?lang=cz">
                <span>CZ</span>
            </a>
            <a class="language" href="/?lang=en">
                <span>EN</span>
            </a>
            <a class="language" href="/?lang=de">
                <span>DE</span>
            </a>
            <a class="language" href="/?lang=pl">
                <span>PL</span>
            </a>
            <a class="language" href="/?lang=sk">
                <span>SK</span>
            </a>
        </div>
    </div>
</div>