<div class="products">
    <div class="inner">
        <div class="wrapBox">
            <div class="box">
                <div class="media">
                    <div id="owlCarousel3" class="owl-carousel">
                        <div class="item">
                            <a href="videos/promo_video.mp4" data-lightbox="newProduct">
                                <video autoplay muted loop>
                                    <source class="owl-lazy" data-src='videos/promo_video.mp4' type='video/mp4'>
                                </video>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/products/shirt-perfume.png" data-lightbox="13" data-img="profile">
                                <img class="owl-lazy" data-no-retina data-src="images/products/shirt-perfume_med.png" data-src-retina="images/products/shirt-perfume_med@2x.png">
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/products/shirt-allpictures.png" data-lightbox="13">
                                <img class="owl-lazy" data-no-retina data-src="images/products/shirt-allpictures_med.png" data-src-retina="images/products/shirt-allpictures_med@2x.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="13" class="nameofproduct" data-category="S,M,L" data-limit-count="15,14,13" data-limit-days="4,4,4" data-limit-final="0,0,1">
                    Mikina ICE QUEEN
                </div>
                <div class="divider"></div>
                <div class="price">
                    <span class="value">1000</span>
                    <span> Kč</span>
                </div>
                <div class="buttonWrap">
                    <div class="buyButton">    
                        <div class="buy">
                            Koupit
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapBox">
            <div class="box">
                <div class="media">
                    <a href="images/products/shirt-champagne.png" data-lightbox="14" data-img="profile">
                        <img src="images/products/shirt-champagne_med.png">
                    </a>
                    <a href="images/products/shirt-allpictures.png" data-lightbox="14" class="displayNone">
                        <img src="images/products/shirt-allpictures_med.png">
                    </a>
                </div>
                <div id="14" class="nameofproduct" data-category="S,M,L" data-limit-count="15,14,13" data-limit-days="4,4,4" data-limit-final="0,0,1">
                    Triko ICE QUEEN
                </div>
                <div class="divider"></div>
                <div class="price">
                    <span class="value">500</span>
                    <span> Kč</span>
                </div>
                <div class="buttonWrap">
                    <div class="buyButton">
                        <div class="buy">
                            Koupit
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapBox">
            <div class="box">
                <div class="media">
                    <a href="images/products/shirt-bag.png" data-lightbox="15" data-img="profile">
                        <img src="images/products/shirt-bag_med.png">
                    </a>
                    <a href="images/products/shirt-allpictures.png" data-lightbox="15" class="displayNone">
                        <img src="images/products/shirt-allpictures_med.png">
                    </a>
                </div>
                <div id="15" class="nameofproduct" data-category="S,M,L" data-limit-count="15,14,13" data-limit-days="4,4,4" data-limit-final="0,0,1">
                    Tílko ICE QUEEN
                </div>
                <div class="divider"></div>
                <div class="price">
                    <span class="value">300</span>
                    <span> Kč</span>
                </div>
                <div class="buttonWrap">
                    <div class="buyButton">
                        <div class="buy">
                            Koupit
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapBox">
            <div class="box">
                <div class="media">
                    <a href="images/products/shirt-ghost.png" data-lightbox="16" data-img="profile">
                        <img src="images/products/shirt-ghost_med.png">
                    </a>
                    <a href="images/products/shirt-allpictures.png" data-lightbox="16" class="displayNone">
                        <img src="images/products/shirt-allpictures_med.png">
                    </a>
                </div>
                <div id="16" class="nameofproduct" data-category="S,M,L" data-limit-count="15,14,13" data-limit-days="4,4,4" data-limit-final="0,0,1">
                    Mikina ICE QUEEN
                </div>
                <div class="divider"></div>
                <div class="price">
                    <span class="value">1000</span>
                    <span> Kč</span>
                </div>
                <div class="buttonWrap">
                    <div class="buyButton">    
                        <div class="buy">
                            Koupit
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapBox">
            <div class="box">
                <div class="media">
                    <a href="images/products/shirt-icecream.png" data-lightbox="17" data-img="profile">
                        <img src="images/products/shirt-icecream_med.png">
                    </a>
                    <a href="images/products/shirt-allpictures.png" data-lightbox="17" class="displayNone">
                        <img src="images/products/shirt-allpictures_med.png">
                    </a>
                </div>
                <div id="17" class="nameofproduct" data-category="S,M,L" data-limit-count="15,14,13" data-limit-days="4,4,4" data-limit-final="0,0,1">
                    Triko ICE QUEEN
                </div>
                <div class="divider"></div>
                <div class="price">
                    <span class="value">1000</span>
                    <span> Kč</span>
                </div>
                <div class="buttonWrap">
                    <div class="buyButton">    
                        <div class="buy">
                            Koupit
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>