<div class="socialsites">
    <div class="inner">
        <div id="owlCarousel2" class="owl-carousel">
            <div class="item">
                <div class="wrapBox">
                    <div class="box">
                        <div class="icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        width="34px" height="25px" viewBox="0 0 34 25" enable-background="new 0 0 34 25" xml:space="preserve">
                                <g>
                                    <path fill="none" stroke-miterlimit="10" d="M7.432,0.652c2.984,0,5.398,2.418,5.398,5.401
                                           c0,2.979-2.414,5.398-5.398,5.398c-2.985,0-5.401-2.416-5.401-5.398C2.031,3.07,4.447,0.652,7.432,0.652z"/>
                                    <path fill="none" stroke-miterlimit="10" d="M28.392,5.523c2.084,0,3.777,1.7,3.777,3.782
                                           c0,2.085-1.693,3.774-3.777,3.774c-2.091,0-3.778-1.69-3.778-3.774C24.613,7.223,26.301,5.523,28.392,5.523z"/>
                                    <path fill="none" stroke-miterlimit="10" d="M15.649,24.463c-2.232,0-4.04-1.808-4.04-4.039
                                           c-0.002-2.232,1.808-4.04,4.04-4.04c2.234,0,4.038,1.808,4.038,4.04C19.687,22.655,17.883,24.463,15.649,24.463"/>
                                    <line fill="none" stroke-miterlimit="10" x1="9.907" y1="11.023" x2="13.34" y2="17.109"/>
                                    <line fill="none" stroke-miterlimit="10" x1="13.102" y1="7.373" x2="24.177" y2="8.687"/>
                                    <line fill="none" stroke-miterlimit="10" x1="25.575" y1="11.967" x2="18.643" y2="18.043"/>
                                </g>
                            </svg>
                        </div>
                        <div class="media">
                            <a href="http://www.gethype.eadmin.cz" target="_blank">
                                <img src="images/gh.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="wrapBox">
                    <div class="box">
                        <div class="icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 21" enable-background="new 0 0 25 21" xml:space="preserve">
                                <g>
                                    <path stroke-miterlimit="10" d="M19.729,0.5H5.274C2.64,0.5,0.5,2.936,0.5,5.93v9.14
                                            c0,2.995,2.14,5.431,4.774,5.431h14.456c2.631,0,4.771-2.436,4.771-5.431V5.93C24.5,2.936,22.36,0.5,19.729,0.5L19.729,0.5z
                                            M23.522,15.069"></path>
                                    <path stroke-miterlimit="10" d="M16.84,10.298l-6.786-4.509C9.903,5.688,9.715,5.688,9.562,5.787
                                            C9.412,5.888,9.315,6.071,9.315,6.27v9.017c0,0.198,0.097,0.384,0.247,0.483c0.077,0.048,0.16,0.072,0.244,0.072
                                            c0.086,0,0.172-0.027,0.249-0.078l6.786-4.506c0.15-0.101,0.243-0.281,0.243-0.479C17.083,10.582,16.99,10.398,16.84,10.298
                                            L16.84,10.298z"></path>
                                </g>
                           </svg>
                        </div>
                        <div class="youtube">
                            <a href="https://www.youtube.com/watch?v=tFmIKvQGveE" class="owl-video"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="wrapBox">
                    <div class="box">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                                <g>
                                    <path stroke-miterlimit="10" d="M16.232,24.5H20.5c2.104,0,4-1.898,4-4v-16c0-2.102-1.896-4-4-4 h-16c-2.103,0-4,1.898-4,4v16c0,2.102,1.897,4,4,4h8"/>
                                    <path stroke-miterlimit="10" d="M12.667,24.5v-9.066H9.732v-3.999h2.935v-1.56 c0-2.688,2.019-5.108,4.5-5.108h3.232v4h-3.232c-0.354,0-0.768,0.429-0.768,1.073v1.595h4v3.999h-4V24.5"/>
                                </g>
                            </svg>
                        </div>
                        <div class="media">
                            <a href="https://www.facebook.com/AlytzeIceQueen/?fref=ts" target="_blank">
                                <img src="images/fb.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="wrapBox">
                    <div class="box">
                        <div class="icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                                <g>
                                    <path stroke-miterlimit="10" d="M18.373,24.5H6.628c-3.377,0-6.128-2.75-6.128-6.131V6.628
                                    C0.5,3.248,3.251,0.5,6.628,0.5h11.745c3.377,0,6.127,2.748,6.127,6.128v11.741C24.5,21.75,21.75,24.5,18.373,24.5L18.373,24.5z" />
                                    <path stroke-miterlimit="10" d="M18.709,11.035c-0.074,0-0.146,0.003-0.218,0.013
                                    c-0.611-2.352-2.293-3.976-4.251-3.976c-1.511,0-2.89,0.977-3.719,2.596c-0.253-0.077-0.514-0.115-0.777-0.115
                                    c-1.045,0-2.032,0.612-2.699,1.639c-0.241-0.105-0.495-0.158-0.755-0.158c-1.33,0-2.414,1.42-2.414,3.164
                                    c0,1.746,1.083,3.166,2.414,3.166h12.418c1.332,0,2.414-1.42,2.414-3.166C21.123,12.455,20.041,11.035,18.709,11.035
                                    L18.709,11.035z"/>
                                </g>
                            </svg>
                        </div>
                        <div class="souncloud">
                            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/135016865&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="wrapBox">
                    <div class="box">
                        <div class="icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
                                <g>
                                    <path stroke-miterlimit="10" d="M18.373,24.5H6.628c-3.377,0-6.128-2.75-6.128-6.131V6.628
                                            C0.5,3.248,3.251,0.5,6.628,0.5h11.745c3.377,0,6.127,2.748,6.127,6.128v11.741C24.5,21.75,21.75,24.5,18.373,24.5L18.373,24.5z"/>
                                    <path stroke-miterlimit="10" d="M12.498,17.849c-2.946,0-5.347-2.4-5.347-5.35
                                            c0-2.947,2.4-5.347,5.347-5.347c2.95,0,5.351,2.396,5.351,5.347C17.849,15.448,15.448,17.849,12.498,17.849L12.498,17.849z
                                             M12.498,8.521"/>
                                   <ellipse stroke-miterlimit="10" cx="19.241" cy="5.4" rx="1.208" ry="1.2"/>
                                </g>
                            </svg>
                        </div>
                        <div class="media">
                            <a href="https://www.instagram.com/allice.fashion/" target="_blank">
                                <img src="images/ig.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>