<div id="statementCookie" class="statementCookie">
    <div class="inner">       
        <div class="sentence">
            <span>ALL ICE SHOP využívá soubory cookies k dobré použitelnosti.</span>
            <a href="https://www.google.cz/intl/cs/policies/technologies/cookies/" target="_blank">Více o cookies</a>
        </div>
        <div class="buttonGeneral">
            Rozumím
        </div>
    </div>
</div>