<div id="summaryOrder" class="summaryOrder">
    <div class="inner">
        <div class="title">Shrnutí objednávky</div>
        <div class="divider"></div>
        <div id="orders">
        </div>
        <div class="information transport">
            <div>
                <span>Objednávku doručíme do </span><span id="transportDays" data-limit-country-days="2" data-limit-product-days="" data-limit-product-id="">2</span><span> pracovních dní službou PPL</span>.
            </div>
            <div>
                <span id="transportPrice">100</span><span> Kč / </span><span id="country_3">Česko</span>
            </div>
            <div></div>
        </div>
        <div class="divider2"></div>
        <div class="totalprice">
            <span id="totalprice"></span>
            <span> Kč</span>
        </div>
        <div class="buttonWrap">
            <div id="finishButton" class="finishButton" style="display: inline-block;">
                Dokončit objednávku
            </div>
        </div>
    </div>
</div>