body 
{
    .ledge
    {
        .logo
        {
            font-size: 15px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .choosingLang
        {
            color: rgba(255,255,255,0.50);
            font-size: 10px;
            
        }
        
        .costButton.focus
        {
            color: white;
        }
    }
    
    .newproduct
    {
        .title
        {
            font-size: 18px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .nameofproduct
        {
            font-size: 18px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .price
        {
            font-size: 15px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .buyButton
        {
            font-size: 13px;
            font-family: bold;
            font-weight: normal;
            color: rgba(255,255,255,.8);
        }
    }
    
    .products
    {
        .nameofproduct
        {
            font-size: 18px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .price
        {
            font-size: 15px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .buyButton
        {
            font-size: 13px;
            font-family: bold;
            font-weight: normal;
            color: rgba(255,255,255,.8);
        }
    }
    
    .summaryOrder
    {
        .title
        {
            font-size: 18px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .information.transport
        {
             font-size: 14px;
        }
        
        .information
        {
            font-size: 18px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .totalprice
        {
            font-size: 18px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .finishButton
        {
            font-size: 13px;
            font-family: bold;
            font-weight: normal;
            color: rgba(255,255,255,.8);
        }
        
    }
    
    .form
    {
        .headline
        {
            font-size: 18px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        input
        {
            font-size: 14px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .footer
        {
            font-size: 14px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }

        .payButton
        {
            font-size: 13px;
            font-family: bold;
            font-weight: normal;
            color: white;
            color: rgba(255,255,255,.8);
        }
    }
    
    .base
    {
        .headline
        {
            font-size: 16px;
            font-family: regular;
            font-weight: normal;
            color: white; 
        }
        
        .footer
        {
            font-size: 15px;
            font-family: regular;
            font-weight: normal;
            color: rgba(255,255,255,0.50);    
        }
    }
    
    .popupProduct
    {
        .nameofproduct
        {
            font-size: 23px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .sizeButton
        {
            font-size: 23px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .quantity
        {
            font-size: 23px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .confirmButton
        {
            font-size: 13px;
            font-family: bold;
            font-weight: normal;
            color: rgba(255,255,255,.8);
        }
    }
    
    .popupLangs
    {
        .language
        {
            font-size: 20px;
            font-family: regular;
            font-weight: normal;
            color: rgba(255,255,255,0.50);
        }
    }
    
    .popupChat
    {
        .headline
        {
            font-size: 18px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        input, textarea
        {
            font-size: 14px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
        
        .sendButton
        {
            font-size: 13px;
            font-family: bold;
            font-weight: normal;
            color: rgba(255,255,255,.8);
        }
        
        .endChatButton
        {
            font-size: 13px;
            font-family: bold;
            font-weight: normal;
            color: rgba(255,255,255,.8);
        }
        
        .messages
        {
            font-size: 14px;
            font-family: regular;
            font-weight: normal;
            color: white;
        }
    }
    
    .radioCheck
    {
        .labelText
        {
            font-size: 14px;
            font-family: regular;
            font-weight: normal;
            color: rgba(255,255,255,0.65);
        }
    }
    
    .errorMessages
    {
        font-size: 14px;
        font-family: bold;
        font-weight: normal;
        color: white;
    }
    
    .statementCookie
    {
        font-size: 10px;
        font-family: regular;
        font-weight: normal;
        color: rgba(255,255,255,.8);
        
        a
        {
            color: rgba(255,255,255,.5);
        }
    }
    
    .pac-container, .pac-logo
    {   
        .pac-item
        {
            font-size: 14px;
            font-family: regular;
            color: rgba(255,255,255,.65);

            .pac-item-query
            {
                color: white;
            }
            
            .pac-matched
            {
                font-family: bold;
                font-weight: 400;
            }
        }
    }
    
    @media(min-width: 600px)
    {
        .statementCookie
        {
            font-size: 12px;
        }
    }
    
    .buttonGeneral
    {
        font-size: 13px;
        font-family: bold;
        font-weight: normal;
        color: rgba(255,255,255,.8);
    }
}